@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

body{
    font-family: 'Lexend Deca';
}
nav{
    background-color: #FFFFFF;
    display: grid;
    grid-template-areas: 'logo navigations';
    box-shadow: 5px 5px 10px 0px gray;
    border-radius: 20px;
    position: fixed;
    top: 2%;
    left: 5%;
    width: 90%;
    overflow: hidden;
}
nav ul{
    list-style-type: none;
    grid-area: navigations;
    padding-right: 30px;
}
nav ul li{
    float: right;
    padding: 20px;
}
nav img{
    grid-area: logo;
    object-fit: contain;
    height: 70px;
}
nav div{
    display: flex;
    padding: 10px 10px 0px 20px;
    gap: 15px;
    padding-left: 100px;
}
.heroSectionWrap{
    padding: 2in 0.5in 0in 0.5in;
    display: grid;
    grid-template-areas: 'intro img'
    'links img';
}
.heroSectionWrap article{
    grid-area: links;
    display: flex;
    gap: 10em
}.img{
    background-color: aliceblue;
    grid-area: img;
} 
.intro{
    grid-area: intro;
}.intro span{
    color: #A30822;
}